*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(rock_cadastro.jpg);
    background-size: cover;
    color: white;
    font-family: Arial;
}

.apresentacao_cadastro {
    margin-top: 5cm;
}

.titulo {
    color: rgb(255, 255, 255);
}

.nome {
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: none;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(116, 91, 91, 0.178);
    color: white;
    outline: none;
}

.cpf {
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: none;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(116, 91, 91, 0.178);
    color: white;
    outline: none;
}

.telefone {
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: none;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(116, 91, 91, 0.178);
    color: white;
    outline: none;

}

.email {
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: none;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(116, 91, 91, 0.178);
    color: white;
    outline: none;

}

.senha {
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: none;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(116, 91, 91, 0.178);
    color: white;
    outline: none;

}

.conf_senha {
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: none;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(116, 91, 91, 0.178);
    color: white;
    outline: none;

}

.submit {
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: none;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.04);
    color: white;
    outline: none;

}

div#corpo-form{
    width: 420px;
    margin: 150px auto 0px auto;
}

div#corpo-form-cad{
    width: 420px;
    margin: 40px auto 0px auto;
}

div#corpo-form h1, div#corpo-form h2, div#corpo-form-cad h1{
    text-align: center;
    padding: 20px;
}

a{
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
}

a:hover{
    text-decoration: underline;
}

input[type=submit]{
    background-color: #FF0000;
    cursor: pointer;
    transition: 0.3s;
    
}

input[type=submit]:hover{
    background-color: #640704;
    
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
}
::-moz-placeholder { /* Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* IE 10+ */
    color: white;
}
:-moz-placeholder { /* Firefox 18- */
    color: white;
}

.foto_logo {
    width: 50%;
    padding: 12px;
    border-radius: 8px;
    
}

@media (max-width: 768px) { 
    .foto_logo {
        display: none;
    }
}


div#msg-sucesso{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(50, 205, 50, .3);
    border: 1px solid rgb(34, 139, 34);

}

div.msg-erro{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(250, 128, 114, .3);
    border: 1px solid rgb(165, 42, 42);

}

.entrar {
    text-decoration: none;
    position: fixed;
    top: 20px; /* Ajuste a distância do topo conforme necessário */
    right: 40px; /* Ajuste a distância da direita conforme necessário */
    background-color: #FF0000;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    transition: 0.3s;
    margin-top: 10px;
    width: 15%;
    font-size: 14px;
}